.game-container {
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    background-color: white;
}


.cell-0 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid white;
    margin: 3px;
    background-image: url(habibou/0.png);
    background-color: white;
}
.cell-2 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid coral;
    margin: 3px;
    background-color: coral;
    background-image: url(habibou/2.png);
}
.cell-4 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid darkgoldenrod;
    margin: 3px;
    background-color: darkgoldenrod;
    background-image: url(habibou/4.png);
}
.cell-8 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid darkorange;
    margin: 3px;
    background-color: darkorange;
    background-image: url(habibou/8.png);
}
.cell-16 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid goldenrod;
    margin: 3px;
    background-color: goldenrod;
    background-image: url(habibou/16.png);
}
.cell-32 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid blue;
    margin: 3px;
    background-color: #2ECC40;
    background-image: url(habibou/32.png);
}
.cell-64 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid greenyellow;
    margin: 3px;
    background-color: greenyellow;
    background-image: url(habibou/64.png);
}
.cell-128 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid green;
    margin: 3px;
    background-color: green;
    background-image: url(habibou/128.png);
}
.cell-256 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid lawngreen;
    margin: 3px;
    background-color: lawngreen;
    background-image: url(habibou/256.png);
}
.cell-512 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid lightgreen;
    margin: 3px;
    background-color: lightgreen;
    background-image: url(habibou/512.png);
}
.cell-1024 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid lime;
    margin: 3px;
    background-color: lime;
    background-image: url(habibou/1024.png);
}
.cell-2048 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid olivedrab;
    margin: 3px;
    background-color: olivedrab;
    background-image: url(habibou/2048.png);
}
.cell-4096 {
    text-align: center;
    line-height: 115px;
    float: left;
    height: 115px;
    width: 115px;
    border: 1px solid gold;
    margin: 3px;
    background-color: gold;
    background-image: url(habibou/4096.png);
}

.new{
    background-color: lime;
    }
